.ecosystem-partners-card-body-copy {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ecosystem-partners-filter-list-item {
  z-index: 2;
}

.ecosystem-partner-card {
  height: 100%;
}

.ecosystem-partner-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
