html,
body {
  height: 100vh;
  height: 100vh;
  overscroll-behavior: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.view {
  overflow-y: hidden;
}

@media only screen and (min-width: 5120px) {
  html {
    font-size: 34px !important;
  }
}

@media only screen and (min-width: 3840px) and (max-width: 5119px) {
  html {
    font-size: 34px !important;
  }
}
@media only screen and (min-width: 3008px) and (max-width: 3839) {
  html {
    font-size: 28px !important;
  }
}
@media only screen and (min-width: 2048px) and (max-width: 3007) {
  html {
    font-size: 24px !important;
  }
}

.faq-item {
  overflow: hidden;
}
.faq-tabs-menu {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.faq-tabs-menu ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media only screen and (max-width: 525px) {
  .content {
    overflow-y: hidden !important;
  }
  .view {
    overflow-y: scroll !important;
  }
}

.roadmap-rings {
  transform-origin: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
