.w-nav-overlay {
  overflow-y: scroll !important;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
}

.w-nav-overlay ::-webkit-scrollbar,
.w-nav-overlay ::-webkit-scrollbar {
  display: none;
}
